p.PAPYRUStext {
    font-family: papyrus;
    font-size: 40px;
    color: white;
}

h1.PAPYRUStitle {
    font-family: papyrus;
    font-size: 40px;
    color: white;
}

h2.PAPYRUSsubtitle {
    font-family: papyrus;
    font-size: 40px;
    color: white;
}
p.heheheTEXT {
    font-family: comic-sans;
    font-size: 20px;
    color: white;
}

h1.heheheTITLE {
    font-family: comic-sans;
    font-size: 40px;
    color: white;
}

h2.heheheSUBTITLE {
    font-family: comic-sans;
    font-size: 40px;
    color: white;
}

header.Cabecera {
    size: 200px;
    background-color: black;
    padding: 200px;
    border-top: 200px;
    border-width: 200px;
}

* {
    border-radius: 300px;
}