p{
    color: azure;
    font-family: wingdings;
    font-size: 30px;
}

h1 {
    color: aliceblue;
    font-family: wingdings;
}

body.gg {
    background-color: black;
}

div {
    display: flex;
    justify-content: center;
}

img {
    background-color: black;
}